import %workspace%/tools/base/bazel/common.bazel.rc

# Depending on how many machines are in the remote execution instance, setting
# this higher can make builds faster by allowing more jobs to run in parallel.
# Setting it too high can result in jobs that timeout, however, while waiting
# for a remote machine to execute them.
build:remote --jobs=110

build:remote_common --remote_instance_name=projects/google.com:android-studio-alphasource/instances/default_instance

build:remote --experimental_remote_platform_override='properties:{ name:"container-image" value:"docker://gcr.io/google.com/android-studio-alphasource/rbe-ubuntu16-as@sha256:c8611373581bb39ee5320cdddb03a5c47641ff780bbc0b6cf9c812d8de86cd42"}'
build:remote --crosstool_top=@bazel_toolchains//configs/ubuntu16_04_clang/1.1/bazel_0.20.0/default:toolchain
build:remote --extra_toolchains=@bazel_toolchains//configs/ubuntu16_04_clang/1.1/bazel_0.20.0/cpp:cc-toolchain-clang-x86_64-default
build:remote --extra_execution_platforms=//tools/base/bazel/foundry:rbe_ubuntu16
build:remote --host_platform=//tools/base/bazel/foundry:rbe_ubuntu16
build:remote --platforms=//tools/base/bazel/foundry:rbe_ubuntu16
