import %workspace%/tools/base/bazel/common.bazel.rc

# Depending on how many machines are in the remote execution instance, setting
# this higher can make builds faster by allowing more jobs to run in parallel.
# Setting it too high can result in jobs that timeout, however, while waiting
# for a remote machine to execute them.
build:remote --jobs=200

build:remote_common --remote_instance_name=projects/google.com:android-studio-alphasource/instances/default_instance

build:remote --extra_toolchains=@native_toolchain//:cc-toolchain-x64_linux
build:remote --extra_execution_platforms=//tools/base/bazel/foundry:rbe_ubuntu18
build:remote --host_platform=//tools/base/bazel/foundry:rbe_ubuntu18
build:remote --platforms=//tools/base/bazel/foundry:rbe_ubuntu18

build:release --copt=-fdata-sections
build:release --cxxopt=-fdata-sections
build:release --copt=-fno-exceptions
build:release --cxxopt=-fno-exceptions
build:release --copt=-ffunction-sections
build:release --cxxopt=-ffunction-sections

#Block network by default on linux
build --nosandbox_default_allow_network
