import %workspace%/tools/base/bazel/common.bazel.rc

build:remote --config=remote_common
build:remote --jobs=50

build:remote_common --remote_instance_name=projects/google.com:android-studio-alphasource/instances/windows

build:remote --crosstool_top=@bazel_toolchains//configs/experimental/windows/0.1.0/bazel_0.19.0:toolchain
build:remote --extra_toolchains=@bazel_toolchains//configs/experimental/windows/0.1.0/bazel_0.19.0:cc-toolchain-x64_windows
build:remote --extra_execution_platforms=@bazel_toolchains//configs/experimental/windows/0.1.0:rbe_default
build:remote --host_platform=@bazel_toolchains//configs/experimental/windows/0.1.0:rbe_default
build:remote --platforms=@bazel_toolchains//configs/experimental/windows/0.1.0:rbe_default
