import %workspace%/tools/base/bazel/common.bazel.rc

# TODO(b/157486775) update perfgate machines to 2019 byob image
# Enables the use of native symlinks in worker sandboxes,
# required for dynamic scheduling.
# startup --windows_enable_symlinks

build:remote --config=remote_common
build:remote --jobs=150

build:remote_common --remote_instance_name=projects/google.com:android-studio-alphasource/instances/windows

# Use prebuilt native toolchain
build --crosstool_top=@native_toolchain//:toolchain

build --extra_toolchains=@native_toolchain//:cc-toolchain-x64_windows-clang-cl

build:remote --extra_execution_platforms=//tools/base/bazel/foundry:rbe_windows1803_as
build:remote --host_platform=//tools/base/bazel/foundry:rbe_windows1803_as
build:remote --platforms=//tools/base/bazel/foundry:rbe_windows1803_as

build --compiler=clang-cl
