import %workspace%/tools/base/bazel/common.bazel.rc

# Enables the use of native symlinks in worker sandboxes,
# required for dynamic scheduling.
startup --windows_enable_symlinks

build --enable_runfiles

build:remote --python_path="C:/Python27/python.exe"
build:remote --config=remote_common
build:remote --jobs=250

build:remote_common --remote_instance_name=projects/google.com:android-studio-alphasource/instances/windows

build --extra_toolchains=@native_toolchain//:cc-toolchain-x64_windows-clang-cl

build:remote --extra_execution_platforms=//tools/base/bazel/foundry:rbe_windows2019_as
build:remote --host_platform=//tools/base/bazel/foundry:rbe_windows2019_as
build:remote --platforms=//tools/base/bazel/foundry:rbe_windows2019_as

build --compiler=clang-cl

# Static link native artifacts
build --features=static_link_msvcrt
