<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:instant="http://schemas.android.com/instantapps"
    package="com.android.tests.multiatom"
    split="atomd">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:label="@string/app_name">

        <activity
                android:name="com.android.tests.multiatom.atomd.DActivity"
                android:label="@string/app_name"
                instant:atom="atomd">

            <intent-filter instant:order="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                        android:host="tests.android.com"
                        android:scheme="https"
                        android:pathPattern="/activityd/.*" />
                <data
                        android:host="tests.android.com"
                        android:scheme="http"
                        android:pathPattern="/activityd/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
