<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature1" >

    <application>
        <activity android:name=".FeatureActivity" android:label="Feature Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>