<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tests.multiatom.libc">

    <application>

        <activity android:name="com.android.tests.multiatom.libc.LibCActivity">
            <meta-data android:name="test" android:value="42" />
        </activity>

    </application>

</manifest>
